@page
@model MegaDeskWeb_Farrwest.Pages.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].numOfDrawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].desktopMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].customerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].deliveryOptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].totalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].dateDisplayString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].quoteDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numOfDrawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desktopMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryOptions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateDisplayString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quoteDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
